<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMLApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XMLApp.Properties.Settings>
            <setting name="txtInput" serializeAs="String">
                <value />
            </setting>
            <setting name="txtRegExExpression" serializeAs="String">
                <value />
            </setting>
            <setting name="txtInputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="chkUseFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtSingleLineMatch" serializeAs="String">
                <value />
            </setting>
            <setting name="txtXSLTInput" serializeAs="String">
                <value />
            </setting>
            <setting name="txtXPath" serializeAs="String">
                <value />
            </setting>
            <setting name="txtSchema" serializeAs="String">
                <value />
            </setting>
            <setting name="txtNamespaces" serializeAs="String">
                <value />
            </setting>
            <setting name="chkHighLight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtTemplates" serializeAs="String">
                <value />
            </setting>
            <setting name="txtFiles_FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="txtFiles_FileMask" serializeAs="String">
                <value />
            </setting>
            <setting name="chkFilesSubFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtFilesRegEx" serializeAs="String">
                <value>230352-1074</value>
            </setting>
            <setting name="chkFilesFirstMatchOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtFiles_BeforeAfter" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="txtSaveResultPath" serializeAs="String">
                <value />
            </setting>
        </XMLApp.Properties.Settings>
    </userSettings>
</configuration>